body {
     
    background-attachment: fixed;
  }
  h1 {
    background-color: #7fb5bd;
    align-content: center;
    color: rgb(56, 3, 3);
    text-align: center;
  }
  p {
    color: rgb(3, 1, 46);
    text-align: center;
    font-size: 2rem;
     font-family:  sans-serif;
  }
  .topnav {
    background-color: #047e6b;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float:  right;
    color: #ef8585;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #5a5ae3;
    color: black;
  }
  
  /* Create a right-aligned (split) link inside the navigation bar */
  .topnav a.split {
    float:  left;
    background-color: #04AA6D;
    color: white;
  }
  .topnav {
  position: relative;
  text-align: center;
  color: white;
  }
  .homee {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
   
   .homee a:hover{
    background-color: antiquewhite;
    color: brown;
   }
  
   div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #515050;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  .Newss img{
    width: 100%;
    height: auto;
  }
